<div class="dashboard-grid">
  <section class="dashboard-panel">
    <h2>Outcome Graph</h2>
    <div class="chart-container">
      <canvas id="outcomeChart"></canvas>
    </div>
  </section>

  <section class="dashboard-panel">
    <h2>Prematurity Graph</h2>
    <div class="chart-container">
      <canvas id="weightChart"></canvas>
    </div>
  </section>

  <section class="dashboard-panel">
    <h2>Sepsis Graph</h2>
    <div class="chart-container">
      <canvas id="sepsisChart"></canvas>
    </div>
  </section>
 <section class="dashboard-panel">
    <h2>Hypoxic-Ischemic Encephalopathy Graph</h2>
    <div class="chart-container">
      <canvas id="hieGradesChart"></canvas>
    </div>
  </section>
  
</div>
