<nz-table [nzData]="tableData" [nzBordered]="true">
        <thead>
            <tr>
                @for (col of listOfColumns; track $index) {
                    <th>{{col.name}}</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableData">
                <td *ngFor="let col of listOfColumns">
                    @if(col.formatter){
                        {{ col.formatter(row[col.key || '']) }}
                    }
                    @else{
                        {{ row[col.key || ''] }}
                    }
                </td>
            </tr>
        </tbody>
    </nz-table>