<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 o ffset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Password Reset</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="forgetPasswordForm">
              <div class="form-group pt-3">
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorTpl">
                    <div class="input-field">
                      <span class="fa fa-user pt-2"></span>
                      <input
                        nz-input
                        formControlName="email"
                        type="text"
                        placeholder="Enter your email"
                      />
                    </div>

                    <ng-template #errorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        <span class="text-danger">Email is required</span>
                      </ng-container>
                      <ng-container *ngIf="control.hasError('email')">
                        <span class="text-danger">Invalid email format</span>
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <button
                [disabled]="loading"
                (click)="sendOtp()"
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100"
              >
                Send Otp
              </button>
              <div class="text-center pt4 text-muted">
                Don't have an account?
                <a id="forget" routerLink="/signup">Sign Up Here</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
