<div class="mb-2" nz-flex nzJustify="end">
  <nz-input-group nz-col nzSpan="6" nzSuffixIcon="search">
    <input
      class="text-left"
      type="text"
      nz-input
      [disabled]="loading"
      [placeholder]="
        'Search ' + (loading ? '' : (patients.length | number) + ' record(s)')
      "
      autocomplete="off"
      [(ngModel)]="filter"
      (ngModelChange)="search($event)"
    />
  </nz-input-group>
</div>

<nz-table #basicTable [nzData]="patients" [nzLoading]="loading">
  <thead>
    <tr>
      <th>Hospital Number</th>
      <th>Patient Name</th>
      <th>Admission Date</th>
      <!--<th>Diagnosis</th>-->
      <th>Outcome</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data; let i = $index) {
    <tr>
      <td>{{ data.hospitalNumber }}</td>
      <td>{{ data.name + " " + data.surname | uppercase }}</td>
      <td>{{ data.dateOfAdmission| date }}</td>
      <!--<td>{{ data. }}</td>-->
      <td>{{ data.outcomeStatus }}</td>
      <td>
        <button
          (click)="edit(data.id!)"
          nz-button
          nzType="primary"
          [nzLoading]="btnLoading[i]"
        >
          View
        </button>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
