<nz-table #basicTable [nzData]="userRoles" [nzLoading]="loading">
  <thead>
    <tr>
      <th>User Number</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Approved</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.user?.usernumber }}</td>
      <td>{{ data.user?.firstName }} {{ data.user?.lastName }}</td>
      <td>{{ data.user?.email }}</td>
      <td>{{ data.user?.role }}</td>
      <td>{{ data.approved }}</td>
      <td>
        <div *ngIf="!data.approved" nz-flex nzAlign="center">
          <button
            nz-button
            [disabled]="data.approved === false"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            (nzOnConfirm)="reject(data)"
            nzPopconfirmPlacement="topCenter"
          >
            Reject
          </button>
          <nz-divider nzType="vertical"></nz-divider>

          <button
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            (nzOnConfirm)="approve(data)"
            nzPopconfirmPlacement="topCenter"
            nz-button
            nzType="primary"
          >
            Approve
          </button>
        </div>

        <div *ngIf="data.approved">
          <button
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            (nzOnConfirm)="reject(data)"
            nzPopconfirmPlacement="topCenter"
            nz-button
            nzType="primary"
            nzDanger
          >
            Revoke
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
