.month-year-date{
    font-size: 20px;
}

.yearly-totals-section{
    font-size: 20px
}

.totals-and-range-container{
    display: flex;
    align-items: center;
    gap: 50px
}

.yearly-totals{
    display: flex;
    flex-direction: column;
}