@if (loading) {
<nz-skeleton [nzLoading]="true"></nz-skeleton>
<nz-skeleton [nzLoading]="true"></nz-skeleton>
<nz-skeleton [nzLoading]="true"></nz-skeleton>
<nz-skeleton [nzLoading]="true"></nz-skeleton>
} @else if (!loading && !patient) {
<div
  nz-flex
  nzAlign="center"
  nzJustify="center"
  style="height: 100%; width: 100%"
>
  <nz-empty nzNotFoundContent="Patient Not Found"></nz-empty>
</div>
} @else {
<div class="form-container">
  <form [formGroup]="motherForm">
    <div class="mb-3" nz-flex nzAlign="center" nzJustify="space-between">
      <button nz-button nzType="primary" nzSize="small" (click)="back()">
        <i nz-icon nzType="arrow-left"></i>
      </button>
      <h2>Maternal</h2>
      <div></div>
    </div>

    <nz-form-item>
      <nz-form-control nzErrorTip="Hospital number is required">
        <nz-form-label nzRequired>Hospital number</nz-form-label>
        <input
          nz-input
          formControlName="hospitalNumber"
          placeholder="Enter hospital number"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Name number is required">
        <nz-form-label nzRequired>Name</nz-form-label>
        <input nz-input formControlName="name" placeholder="Enter name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Surname number is required">
        <nz-form-label nzRequired>Surname</nz-form-label>
        <input nz-input formControlName="surname" placeholder="Enter surname" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="ageErrorTpl">
        <nz-form-label nzRequired>Age</nz-form-label>
        <input nz-input formControlName="age" placeholder="Enter age" />
      </nz-form-control>
      <ng-template #ageErrorTpl let-control>
        <span *ngIf="control.hasError('required')">Age is required.</span>
        <span *ngIf="control.hasError('invalidDecimal')"
          >Please enter a valid number.</span
        >
      </ng-template>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Race number is required">
        <nz-form-label nzRequired>Race</nz-form-label>
        <nz-select formControlName="race" nzPlaceHolder="Select race">
          <nz-option
            *ngFor="let option of raceOptions"
            [nzValue]="option.value"
            [nzLabel]="option.label"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-form-label>Parity</nz-form-label>
        <input nz-input formControlName="parity" placeholder="Enter parity" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-form-label>Gravidity</nz-form-label>
        <input
          nz-input
          formControlName="gravidity"
          placeholder="Enter gravidity"
        />
      </nz-form-control>
    </nz-form-item>

    <h3 class="text-center m-5">Intital Diagnosis</h3>

    <div nz-row [nzGutter]="12">
      <div
        *ngFor="
          let field of [
            'antenatalCare',
            'antenatalSteroid',
            'antenatalMgSulfate',
            'chorioamnionitis',
            'hypertension',
            'maternalHiv',
            'hivProphylaxis',
            'haartBegun',
            'syphilis',
            'syphilisTreated',
            'diabetes',
            'tb',
            'tbTreatment',
            'teenageMother',
            'abandonedBaby',
            'neonatalAbstinence'
          ]
        "
        nz-col
        [nzXs]="24"
        [nzLg]="12"
      >
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>{{ field | titlecase }}</nz-form-label>
            <nz-select [formControlName]="field" nzPlaceHolder="Select">
              <nz-option
                *ngFor="
                  let option of field.includes('Steroid') ||
                  field.includes('MgSulfate')
                    ? yesNoNaUnknown
                    : yesNoUnknown
                "
                [nzValue]="option.value"
                [nzLabel]="option.label"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <nz-form-label>Other maternal information</nz-form-label>
        <input
          nz-input
          formControlName="otherInfo"
          placeholder="Enter other info"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-form-label>Multiple gestations</nz-form-label>
        <nz-select formControlName="multipleGestations" nzPlaceHolder="Select">
          <nz-option
            *ngFor="let option of multipleGestationOptions"
            [nzValue]="option.value"
            [nzLabel]="option.label"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="numberOfBabiesErrorTpl">
        <nz-form-label>Number of babies</nz-form-label>
        <input
          nz-input
          formControlName="numberOfBabies"
          placeholder="Enter number of babies"
        />
      </nz-form-control>
      <ng-template #numberOfBabiesErrorTpl let-control>
        <span *ngIf="control.hasError('invalidDecimal')"
          >Please enter a valid number.</span
        >
      </ng-template>
    </nz-form-item>

    <div style="text-align: right; margin-top: 24px">
      <div>
        <button nz-button (click)="close()">Close</button>
        <button
          *ngIf="!isAdmin()"
          class="ms-2"
          [nzLoading]="btnLoading"
          (click)="motherForm.disabled ? setEditable() : markAsComplete()"
          nz-button
          nzType="primary"
          [disabled]="(motherForm.invalid  && !isAdmin()) || markedAsCompleted()"
        >
        {{motherForm.disabled ? "Update" : "Save"}}
        </button>
        <button
          class="ms-2"
          nz-button
          nzType="primary"
          [nzLoading]="btnLoading"
          (click)="navToNext()"
          [disabled]="motherForm.invalid && !isAdmin() || !motherForm.disabled"
        >
          Next (2/3)
        </button>
      </div>
    </div>
  </form>
</div>
}
